.header
{ min-height: 100px;
	background-color: red;
}

.wrapper{
	overflow: hidden;
	border-style: solid;min-height: 5px;
	background-color:black;
}
.blog{
	float: left;
	width: 50%;
	min-height:200px;
	background-color: green;
}
.contact{
	float: right;
	width: 50%;
	min-height:200px;
	background-color:blue;
}
.single{
	min-width: 364.6px;
	min-height: 300px;
	background-color: teal;
	border: 5px;
	border-style: dashed;
	float: left;
}
.footer{
	min-width: 260px;
	min-height: 400px;
	background-color:yellow;
}